.navcolor{
    background-color: rgb(253, 253, 253);
    font-family: 'Oswald', sans-serif;
    font-size: large;
    border-top: 1px double rgb(160, 157, 157);
}
#brandColor{
    color: #ee4e1d ;
    font-size: xx-large;
    text-shadow: 2px 1.5px rgb(201, 15, 154);
}
#navlink{
    color:black;
}